#app-bar {margin:0;padding:0;} /* over-ride stock button definition*/
#app-icon {}
#menu-bars {height:36px;width:48px;}
/* main body visuals */
#accelerometerWrapper {margin:0 2%;padding:0;}
#visualArrows {width:45%;height:9em;display:inline-block;vertical-align:top;
	background:linear-gradient(to bottom, #8fc400 0%,#8fc400 100%);
}
#gforceInformation {width:52%;height:9em;display:inline-block;vertical-align:top;
}
/* Compass */
#headingInformation {}
/* */
#networkInformation {}
#deviceInformation {}
